fastapi
uvicorn[standard]
langchain
langchain-openai
langchain-community
openai
faiss-cpu
pydantic
transformers
torch
tiktoken
redis
python-dotenv
PyMuPDF
unstructured[pdf]
python-multipart
httpx
sentence-transformers
langchain-ollama
langchain-huggingface

# DOCX support
unstructured[docx]
python-docx

